<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Tabela</h2>
    <table>
      <tr>
        <td>Nome</td>
        <td>Telefone</td>
        <td>Email</td>
      </tr>
      <% data.forEach((item)=> { %>
      <tr>
        <td><%= item.nome %></td>
        <td><%= item.telefone %></td>
        <td><%= item.email %></td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
