<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
   
    
    
    
    table, th, td{
      border: 1px solid rgb(0, 0, 0);
      border-collapse: collapse;
      width: 1000px;
      
      
    
   
     

      
  }
  td{
    background-color: aqua;
  }
  
  th, td{
      padding: 15px;
  }</style>

  
    <h2>prospecção de clientes surf Freedom</h2>
    <table>
      <tr>
        <td>Nome</td>
        <td>Telefone</td>
        <td>Email</td>
      </tr>
      <% data.forEach((item)=> { %>
      <tr>
        <td><%= item.nome %></td>
        <td><%= item.telefone %></td>
        <td><%= item.email %></td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
